@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

body {
  color: black;
  font-size: 24px;
  font-family: "Bitter", serif;
  margin: 0px auto 0px auto;
  line-height: 1.5;
  width: 80vw;
}

#wrapper {
  display: flex;
  justify-content: center;
}

#content {
  width: 55vw;
}

div#header {
  border-bottom: 2px solid black;
  margin-bottom: 12px;
  padding: 12px 0px 12px 0px;
}

div#logo a {
  color: black;
  float: left;
  font-weight: bold;
  text-decoration: none;
}

div#abn {
  color: gray;
  float: left;
  font-family: monospace;
  font-size: xx-small;
}

div#header #navigation {
  text-align: right;
  display: grid;
  grid-template-columns: 9fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr;
}

div#header #navigation a {
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-left: 12px;
  text-decoration: none;
}

#footer {
  border-top: solid 2px black;
  color: #555;
  font-size: 12px;
  margin-top: 12px;
  padding: 12px 0px 12px 0px;
  text-align: right;
}

#footer a, #footer a:visited, #footer a:hover, #footer a:active {
  color: inherit;
  text-decoration:none;
}

#content img {
  max-width: 100%;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  color: grey;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

a.section {
  text-decoration: none;
  color: grey;
  visibility: hidden;
}

:hover > a.section {
  visibility: visible;
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

div p:first-child {
  margin-top: 0;
}

code {
  background: #f7f7ff;
  color: #3f3f3f;
  border: solid 1px #d0d0f0;
  padding: 2px;
  hyphens: none;
  white-space: nowrap;
}

.accordion {
  background-color: #eee;
  transition: background-color 0.1s ease-in-out;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 20px;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  align-content: stretch;
}

.accordion:after {
  content: '\025b8';
  font-size: 15px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25be";
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border:1px solid #FFF2F2;
}

.grid-item-no-img {
  display: grid;
  align-items: center;
}

.grid-item img {
  grid-column-start: 2;
  grid-column-end: 2;
  width: 5vw;
  padding: 10px 10px 10px 10px;
}

.document-part-name {
  font-size: 20px;
  padding: 0px 0px 0px 10px;
}

.document-part-n-pages {
  font-size: 16px;
}

#navigation a {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 18px;
  min-height: 40px;
  outline: 0;
  padding: 12px 12px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: transform 0.2s;
}

#navigation a:hover,
#navigation a:active {
  background-color: initial;
  background-position: 0 0;
  color: #FFF2F2;
  transform: translateY(-3px);
}

#navigation a:active {
  opacity: .5;
}

.panel a:link, .panel a:visited {
  background-color: #eee;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  display: inline-block;
}

.panel a:hover, .panel a:active {
  background-color: #ccc;
}

.button-anchor:link, .button-anchor:visited {
  background: #FFF2F2;
  border: 1px solid #FF7F7F;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 12px;
  min-height: 20px;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-anchor:hover, .button-anchor:active {
  background-color: initial;
  background-position: 0 0;
  color: black;
}

.document-link a:link, .document-link a:visited {
  background-color: #5A5A5A;
  color: white;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 2px;
}

.document-link a:hover {
  background-color: #F2F2F2;
}

.steps-list div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.question {
  font-weight: bold;
}

.answer {
  padding: 10px 0px 20px 0px;
}

#elp #cost {
  font-weight: bold;
}

#practice .drill-button {
  border-radius: 2px;
  padding: 0.5em;
  border: solid 1px;
  margin: 0.3em 0 0 0.3em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#practice #answer {
  border-radius: 2px;
  border: 1px solid;
  padding: 0.2em;
}

#practice .calculation {
  border-radius: 2px;
  display: inline-block;
  padding: 1em;
}

#practice .tolerance {
  border-radius: 2px;
  background: #ddd;
  display: inline-block;
  padding: 0.4em;
  color: #222;
  font-weight: bold;
}

#practice .answer-box h2 {
  display: inline-block;
  background: black;
  color: white;
  font-size: 2em;
  font-family: monospace;
  padding: 3vw 10vw;
}

#not-found {
  text-align: center;
}

#fsdr {
  text-align: center;
}

.events {
  width: 60vw;
  display: block;
  margin: auto;
  text-align: left;
}

.events-frame {
  width: 60vw;
  height: 60vh;
  border:solid 4px #9F3235;
  border-radius: 5px;
}

@media only screen and (max-width: 520px) {
  body {
    width: 100vw;
  }


  div#header #navigation a {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-left: 0px;
    padding: 8px 8px;
    text-decoration: none;
  }

  #content {
    width: 100vw;
  }

  .events {
    width: 100vw;
  }

  .events-frame {
    width: 100vw;
  }

  .grid-item img {
    width: 2em;
  }
}
