----
title: Home
----

<div id="home">
  <div>
    System F has been based in Brisbane, Australia since 1998 and offers a range of aviation-related services.
    <ul>
      <li>
        English Language Proficiency (ELP) Assessment for pilots
      </li>
      <li>
        Part 141 and 142 flight instruction for fixed-wing students and pilots
      </li>
      <li>
        RAAus flight instruction for fixed-wing students and pilots
      </li>
      <li>
        Ground theory instruction for fixed-wing students and pilots
      </li>
      <li>
        Pilot exam preparation study, courses and material
      </li>
      <li>
        Commercial unmanned aerial photography
      </li>
      <li>
        Software automation and correctness verification with applications to aviation
      </li>
    </ul>
  </div>
  <div>
    Get in touch today!
  </div>
</div>
