----
title: English Language Proficiency Assessment
----

<div id="elp">
  <h1 id="title">English Language Proficiency Assessment</h1>
  <div class="paragraph-container">
    <div>
      System F has CASA-approved assessors that are able to conduct your Aviation English
      Language Proficiency Level 6 (AELP6) or General English Language Proficiency (GELP)
      assessment. An English proficiency assessment takes approximately 20-30 minutes. The
      total cost for an English proficiency assessment is <span id="cost">$$100.00</span> payable on the
      day. There are no additional fees to submit and receive your assessment result with
      CASA.
    </div>
    <div>
      All English proficiency assessments involve an interview with an assessor who will measure your
      ability to communicate using the English language. The interview will be
      audio-recorded. An Aviation ELP6 interview will include use of aviation terminology
      as it is used with an aeronautical radio. However, you are not expected to have a deep
      understanding of aviation terminology and you will not be assessed on aviation
      subjects. Your assessment result for AELP6 will be provided to you within approximately
      24-48 hours by CASA as either:
      <div class="list-container">
        <ul class="steps-list">
          <li>Level 6 Expert Speaker of English</li>
          <li>Referred to Specialist Assessor</li>
        </ul>
      </div>
    </div>
    <br>
    <div>
      Your AELP6 Level 6 Expert Speaker result is recognised by the International Civil
      Aviation Organisation (ICAO) Annex 1. A General ELP also involves an interview, though
      does not cover aviation terminology. There are no levels for GELP, so you will receive
      a "yes/no" result for a GELP assessment. AELP6 and GELP assessment standards are
      outlined in
      <i>
        Section 1 of Schedule 2 of the
        <a href="https://www.casa.gov.au/rules/regulatory-framework/casr/part-61-casr-flight-crew-licensing" class="button-anchor">
          CASR1998 Part 61 Manual of Standards
        </a>
      </i>.
      For more information about English assessments, see the CASA ELP Requirements
      information brochure
      <a href="https://elp-information.systemf.com.au/elp-requirements-2018.pdf" class="button-anchor">
        <i>(pdf)</i>
      </a>.
    </div>
  </div>
  <div id="application-form">
    <h3 id="application-form-heading">ELP Assessment Application Form</h3>
    <div class="list-container">
      <div class="steps-list">
        <div>
          <a href="$systemfGitlabio$/media/elp/elp-forms/elp-application.pdf" class="button-anchor">PDF</a>
        </div>
        <div>
          <a href="$systemfGitlabio$/media/elp/elp-forms/elp-application.fodt" class="button-anchor">LibreOffice</a>
        </div>
        <div>
          <a href="$systemfGitlabio$/media/elp/elp-forms/elp-application.docx" class="button-anchor">MS Word</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      To apply for an English Language Proficiency assessment, please follow these steps:
    </div>
    <div class="list-container">
      <div class="steps-list">
        <div>
          1. Complete an application for a
          <a href="https://www.casa.gov.au/licences-and-certificates/aviation-reference-numbers" class="button-anchor">
            CASA Aviation Reference Number (ARN)
          </a>
          if you have not done so already. You will need your ARN to complete the assessment.
        </div>
        <div>
          2. Print and complete an <a href="$systemfGitlabio$/media/elp/elp-forms/elp-application.pdf" class="button-anchor">ELP Assessment Application Form</a>.
        </div>
        <div>
          3. Email <a href="mailto:elp@systemf.com.au" class="button-anchor">elp@systemf.com.au</a>
          or phone $systemfPhone$ to make an appointment.
        </div>
        <div>
          4. Please bring your completed application form and at least one photographic identity document to your assessment interview.
        </div>
      </div>
    </div>
  </div>
  <div id="faq">
    <h3 id="heading">
      Frequently Asked Questions
    </h3>
    <ol>
      <li>
        <div class="question">
          Do I need an AELP6 or GELP assessment interview?
        </div>
        <div class="answer">
          AELP6 is the most common type of assessment, which you'll require to achieve most pilot licence
          standards. Less common is the GELP, which has lower assessment criteria and is typically sought
          after if you are seeking an Aeronautical Radio Operator Certificate (AROC) for the purpose of
          flying Remote Piloted Aircraft (RPA).
        </div>
      </li>
      <li>
        <div class="question">
          How much does the assessment interview cost?
        </div>
        <div class="answer">
          $$100.00 in total (inclusive of GST)
        </div>
      </li>
      <li>
        <div class="question">
          How long will the assessment interview take?
        </div>
        <div class="answer">
          <ul>
            <li>
              AELP6: 25-35 minutes
            </li>
            <li>
              GELP 15-25 minutes
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="question">
          What do I need to bring to the assessment interview?
        </div>
        <div class="answer">
          <ul>
            <li>
              A completed ELP Assessment Application Form
            </li>
            <li>
              At least one photographic identity document, such as a passport, driver's licence or ASIC.
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="question">
          How do I book an appointment for an AELP6 or GELP assessment interview?
        </div>
        <div class="answer">
          <ul>
            <li>
              Complete an application for a
              <a href="https://www.casa.gov.au/licences-and-certificates/aviation-reference-numbers" class="button-anchor">
                CASA Aviation Reference Number (ARN)
              </a>
              if you have not done so already. You will need your ARN to complete the assessment.
            </li>
            <li>
              Print and complete an ELP Assessment Application Form.
            </li>
            <li>
              Email <a href="mailto:elp@systemf.com.au" class="button-anchor">elp@systemf.com.au</a>
              or phone $systemfPhone$ to make an appointment
            </li>
            <li>
              Please bring your completed application form and at least one photographic identity document to your assessment interview.
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="question">
          Is my English proficiency assessment recognised internationally?
        </div>
        <div class="answer">
          <ul>
            <li>
              AELP6: Yes. AELP6 is recognised by ICAO.
            </li>
            <li>
              GELP: No.
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="question">
          Who has access to the assessment interview recording?
        </div>
        <div class="answer">
          All assessments are audio-recorded and retained for 7 years by the assessor. The recording is kept
          confidential by the assessor and is shared only with other ELP assessors or CASA for verification,
          training and auditing purposes.
        </div>
      </li>
      <li>
        <div class="question">
          How do I receive my assessment result?
        </div>
        <div class="answer">
          CASA will automatically send you an email once your ELP assessor submits your assessment result.
        </div>
      </li>
      <li>
        <div class="question">
          I am a native English speaker &mdash; do I still need to sit an English proficiency assessment?
        </div>
        <div class="answer">
          Yes. Native English speakers will generally find it easier to meet the English proficiency assessment criteria. However, this does not necessarily
          mean you meet the AELP6 or GELP standard for English proficiency.
        </div>
      </li>
      <li>
        <div class="question">
          I am a non-native English speaker (second language) &mdash; am I able to hold a Level 6 Expert Speaker?
        </div>
        <div class="answer">
          Yes. Many people who learned English as a second language have achieved Level 6 Expert Speaker.
        </div>
      </li>
      <li>
        <div class="question">
          Do I need to study any aviation subjects in preparation for my AELP6 assessment?
        </div>
        <div class="answer">
          No. Your assessor will take your aviation experience into account for an AELP6 assessment. You will not be assessed on any aviation subjects, though you may be asked questions about your aviation experience.
        </div>
      </li>
      <li>
        <div class="question">
          What will I be tested on in my assessment interview?
        </div>
        <div class="answer">
          You will be assessed based on the ICAO Annex 1 standards for English proficiency, which outlines 6 criteria for communication:
          <ul>
            <li>
              Pronunciation
            </li>
            <li>
              Structure
            </li>
            <li>
              Vocabulary
            </li>
            <li>
              Fluency
            </li>
            <li>
              Comprehension
            </li>
            <li>
              Interaction
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="question">
          Do I need to be retested periodically for English Language Proficiency?
        </div>
        <div class="answer">
          This depends on your assessment result
          <ul>
            <li>
              Expert Level 6 Speaker: No, it is perpetual.
            </li>
            <li>
              Extended Level 5 Speaker: Every 6 years by a Specialist Assessor.
            </li>
            <li>
              Operational Level 4 Speaker: Every 3 years by a Specialist Assessor.
            </li>
            <li>
              <i>Note:</i> we do not perform assessments for levels 4 or 5 English language proficiency. However, we are able to refer you to a Specialist Assessor who can.
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="question">
          I was tested for English proficiency in another country (e.g. USA) &mdash; why do I need to do another assessment interview?
        </div>
        <div class="answer">
          Some countries adopt a standard of English proficiency that does not meet the ICAO standard, which is required in Australia.
        </div>
      </li>
    </ol>
  </div>
</div>
