<div id="practice">
  <h1 id="title">$title$</h1>
  <p class="tolerance" id="tolerance"></p>
  <p id="question"></p>
  <input type="text" name="answer" id="answer">
  <button class="drill-button" id="submit">Submit</button>
  <button class="drill-button" id="giveup">Give Up</button>
  <button class="drill-button" id="next-question">Next Question</button>

  <div id="more-info">
    <h1 id="correctness"> </h1>
    <div id="explanation"></div>
  </div>
</div>

$body$