<div class="events">
  <h1 id="title">$title$</h1>
  <iframe class="events-frame" src="$events-calendar-url$" frameborder="0" scrolling="no"></iframe>
  <h3>Subscribe (iCal)</h3>
  <div class="steps-list">
    $for(calendars)$
      <div><a href="https://calendar.google.com/calendar/ical/$calendar-id$%40group.calendar.google.com/public/basic.ics" class="button-anchor">Add to calendar</a> $calendar-name$</div>
    $endfor$
  </div>
</div>
