<div id="license">
  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
    <img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by/4.0/88x31.png">
  </a>
  <br/>
  Except where otherwise noted, this work is licensed under a
  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
    Creative Commons Attribution 4.0 International License
  </a>.
</div>
