----
title: Density Altitude from Pressure Altitude and Temperature
----

<script>

  const tolerance = 100

  function randomPressureAltitude () {
    return Math.round(Math.random() * 650) * 10
  }
  function randomTemperature () {
    return Math.round(Math.random() * 45) - 8
  }
  function getAnswer (palt, temp) {
    return (temp - 15 + (palt / 500)) * 120 + palt
  }
  function questionParams () {
    const palt = this.randomPressureAltitude()
    const temp = this.randomTemperature()

    return [palt, temp]
  }
  function writeQuestion (palt, temp) {
    document.getElementById('correctness').innerHTML = ''
    document.getElementById('explanation').innerHTML = ''
    document.getElementById('question').innerHTML = `You are at a pressure altitude of $${palt} feet and a temperature of $${temp}&deg;C. What is the density altitude?`
  }
  function writeExplanation (palt, temp) {
    const isatemp = Math.round(15 - palt / 500)
    const isadelta = temp - isatemp
    const daltdelta = isadelta * 120
    const dalt = daltdelta + palt

    document.getElementById('explanation').innerHTML = `
      <h2> The International Standard Atmosphere (ISA) has a temperature of 15&deg; at sea level. ISA temperature decreases by 1&deg; per 500ft altitude. Density altitude is your known pressure altitude corrected for temperature in the standard atmosphere. </h2>

      <hr>

      <h2> 1. You calculate the standard temperature at your known pressure altitude ($${palt}ft) by subtracting 1&deg; per 500 feet. </h2>

      <p>
        To perform this calculation: <br><br>
        <div class="calculation">
          15 - (pressure altitude &#247; 500) <br>
          = 15 - ($${palt} &#247; 500) <br>
          = 15 - $${palt / 500} <br>
          = $${(15 - palt / 500).toFixed(2)} <br>
          &asymp; $${isatemp} <br>
        </div>
        <br>
        <br>

        You conclude that the standard temperature at your pressure altitude is $${isatemp}&deg;C.
      </p>

      <hr>

      <h2>2. You find the difference between the outside air temperature ($${temp}&deg;C) and the ISA temperature<sub>PALT</sub> at your pressure altitude ($${isatemp}&deg;C). </h2>

      <p>
        To perform this calculation: <br><br>
        <div class="calculation">
          outside air temperature - ISA temperature<sub>PALT</sub> <br>
          = $${temp} - $${isatemp} <br>
          = $${isadelta} <br>
        </div>
        <br>
        <br>

        You conclude that the deviation from the ISA temperature at your pressure altitude is $${isadelta}&deg;C.
      </p>

      <hr>

      <h2>3. You correct altitude for this temperature deviation ($${isadelta}&deg;C) at a rate of 120ft per &deg;C. </h2>

      <p>
        To perform this calculation: <br><br>
        <div class="calculation">
          ISA temperature deviation &#215; 120 <br>
          = $${isadelta} &#215; 120 <br>
          = $${daltdelta} <br>
        </div>
        <br>
        <br>

        You conclude that you must correct your pressure altitude by $${daltdelta}ft.
      </p>

      <hr>

      <h2>4. You add your pressure altitude correction ($${daltdelta}ft) to your known pressure altitude ($${palt}ft). </h2>

      <p>
        To perform this calculation: <br><br>
        <div class="calculation">
          pressure altitude correction + pressure altitude <br>
          = $${daltdelta} + $${palt} <br>
        </div>
        <br>
        <br>
      </p>

      <hr>
      <div class="answer-box">
        <h1>DENSITY ALTITUDE</h1>
        <h2>$${dalt} feet</h2>
      </div>
    `
  }
  function main () {
    let params = this.questionParams()
    this.writeQuestion(params[0], params[1])
    const textbox = document.getElementById('answer')
    const correctness = document.getElementById('correctness')

    document.getElementById('submit').addEventListener('click', () => {
      if (textbox.value !== '') {
        const userAnswer = textbox.value

        const answer = this.getAnswer(params[0], params[1])

        if (userAnswer >= answer - tolerance && userAnswer <= answer + tolerance) {
          correctness.innerHTML = `Correct! $${textbox.value} feet is the density altitude`
          textbox.value = ''
          document.getElementById('explanation').innerHTML = ''
        } else {
          correctness.innerHTML = `Incorrect, $${textbox.value} feet is not the density altitude`
          this.writeExplanation(params[0], params[1])
          textbox.value = ''
        }
      }
    })

    document.getElementById('tolerance').innerHTML = `tolerance of error &#x00B1;$${tolerance}`

    document.getElementById('giveup').addEventListener('click', () => {
      correctness.innerHTML = 'Give Up?'
      this.writeExplanation(params[0], params[1], params[2])
      textbox.value = ''
    })

    document.getElementById('next-question').addEventListener('click', () => {
      params = this.questionParams()
      this.writeQuestion(params[0], params[1], params[2])
      textbox.value = ''
    })

    textbox.addEventListener('keyup', function (event) {
      if (event.keyCode === 13) {
        event.preventDefault()
        document.getElementById('submit').click()
      }
    })
  }
  window.onload = function() {
    main();
  }
</script>
