$partial("templates/documentation/header.html")$
  $for(items)$
    <div id="$document-id$">
      <div class="accordion">
        <span class="document-link">
          <a href="$document-id$/">
            &#x1F517;
          </a>
        </span>
        <span>
          $document-name$
        </span>
      </div>
      <div class="panel">
        $for(inner)$
        <a href="$document-part-uri$">
          <div class="grid-item">
            <div class="document-part-name">
              $document-part-name$
              $if(document-part-n-pages)$
              <br>
              <span class="document-part-n-pages">
                ($document-part-n-pages$)
              </span>
              $endif$
            </div>
            $if(document-part-uri-img)$
            <img src="$document-part-uri-img$" alt="$document-part-name$">
            $endif$
          </div>
        </a>
        $endfor$
      </div>
    </div>
  $endfor$
$partial("templates/documentation/footer.html")$
