</div>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "grid") {
        panel.style.display = "none";
      } else {
        panel.style.display = "grid";
      }
    });
  }
</script>
</div>
