<div id="$did$">
  <h1 id="title">$title$</h1>
  <div class="paragraph-container">
    <div class="panel" style="display: grid;">
      $for(items)$
        <a href="$document-part-uri$">
          <div class="grid-item">
            <div class="document-part-name">
              $document-part-name$
              $if(document-part-n-pages)$
              <br>
              <span class="document-part-n-pages">
                ($document-part-n-pages$)
              </span>
              $endif$
            </div>
            $if(document-part-uri-img)$
            <img src="$document-part-uri-img$" alt="$document-part-name$">
            $endif$
          </div>
        </a>
      $endfor$
    </div>
  </div>
</div>
